body{
    background-color:#f3e5d8;
    display: flex;
    justify-content: center;
   
}
.P-div{
  
    background-color: white;
    border-radius: 15px;
    width: 600px;
    height: 1200px;
    
    

    
    
}


.img-div{
    padding: 25px;
    border-radius: 10px;
}

.img-div img{
  width: 100%;
  border-radius: 10px;
  
}
.Content-div{
    font-family: sans-serif;
  margin-left: 25px;
  margin-right: 30px;

   
}
h3{
   
    padding: 25px;
}
.Prep-Time{
    background-color: #fff7fc;
    width: 100%;
    border-radius: 5px;
    padding-bottom: 20px;
  
    
    
}
h1{
     font-size: 27px;
}
p{
    font-size: 11px;
    line-height: 18px;
    font-weight: 520;
    color: #7c7876;
}
.P{
    position: relative;
    top :10px;
    color:#742e4b;
    font-size: medium;
    font-weight: 600;
    margin-left: 18px;
     
    
}
ul{
    margin-bottom: 15px;
}

ul li{
    position: relative;
    top: 12px;
  padding-left: 8px;
  margin-top: 10px;
font-size: 11px;
color: #5e5555;

}
.span{
    position: relative;
    top: 25px;
    font-size: 20px;
    color: #7a473a;
    font-weight: 700;
    
}
.ul{
    position: relative;
    top: 10px;
    
}
.ul li{
    margin-left: -25px;
    color: #736f6c;

}
hr{
    position: relative;
    top: 20px;
    
    margin-top: 20px;
}
.ol{
    position: relative;
    top: 10px;
}
.ol li{
    position: relative;
    top: 15px;
    left: -20px;
  padding-left: 8px;
  margin-top: 10px;
font-size: 11px;
color: #5e5555;
}
.final-p{
    margin-top: 35px;
}
.table{
   font-size: 12px;
    width: 100%;
    color: #855349;
    border-collapse: collapse;
  
}
.table tr{
position: relative;
top: 10px;
}

tr td{
   position: relative;
   left: 20px;
    border-bottom: 0.5px solid rgba(128, 128, 128, 0.354);
    padding-bottom: 20px;
   
   
}
tr:nth-child(4) td{
    border: none;
}